body {
    background-color: #e3eeff;
background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.gapped {
    margin-top: 150px;
}

.gap2 {
    margin: 20px;
}

.White {
    color: white;
}

.Title {
    color: rgb(32, 56, 68);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;    
}

.smallMoney {
    font-style: italic;
}

.texth3 {
    color: rgb(80, 60, 14);
}